<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cassiolandim.alarmefalante"
    android:versionCode="8"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="net.cassiolandim.alarmefalante.MainListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.cassiolandim.alarmefalante.AlarmRingingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.cassiolandim.alarmefalante.DetailsActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="net.cassiolandim.alarmefalante.ReconfigureAlarmOnBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="net.cassiolandim.alarmefalante.TimeTalkerIntentService" />
        <service android:name="net.cassiolandim.alarmefalante.AlarmSetterService" />
        <service android:name="net.cassiolandim.alarmefalante.AlarmRingingService" />
    </application>

</manifest>